*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
/* Default font size 62,5% - 10px (10px/16px = 0,625) */ 
  font-size: 62.5%; 

  @include media(laptop) {
/* Font size 9px */
    font-size: 56.25%;
  }

  @include media(tab-land) {
/* Font size 8px */
    font-size: 50%;
  }
}

body {
  font-family: $font-primary;
  font-weight: 800;
}

.wrapper {
  // width: 100%;
  margin: 0 auto;
  max-width: 1920px;
  display: grid;
  
}