.header {
  width: 100%;
  min-height: 80rem;
  display: grid;
  grid-template-columns: [full-start]  minmax(min-content, 59rem) [image-start]  1fr [image-end full-end];
  border-bottom: 1px solid rgba($gray-light, .2);
  
  @include media(tab-land) {
    grid-template-columns: [full-start]  max-content [image-start]  1fr [image-end full-end];
  }

  &__leftColumn {
    display: grid;
    grid-template-columns: [empty-start] 1fr [empty-end numbers-start]  minmax(min-content, 35rem) [numbers-end];
    grid-template-rows: 1fr min-content;

    @include media(tab-land) {
    grid-template-columns: [empty-end numbers-start]  minmax(min-content, 35rem) [numbers-end];
     
    }
  }

  &__numbers {
    // grid-row: 1/2;
    grid-column: numbers-start/numbers-end;
    // height: 100%;
    // display: flex;
    // flex: 1;
    // align-items: flex-end;

    padding: 2.5rem 1rem;
    border-left: 1px solid rgba($gray-light, .2);

    @include media(tab-land) {
      // grid-column: empty-start/numbers-end;
    }
  }

  &__headline {
    grid-column: numbers-start/numbers-end;
    display: grid;
    grid-template-columns: auto max-content;
    // grid-row: 1/2;
    grid-column-gap: 3.5rem;
    align-content: center;
    margin-left: -9.5rem;
    width: 35rem;
    z-index: 1;

    @include media(tab-land) {
      // grid-column: empty-start/numbers-end; !!!!
      margin-left: 0;
    }
  }

  &__controls {
    display: grid;
    justify-items: center;

    @include media(tab-land) {
      margin-left: 7.5rem;
    }
  }

  &__arrow-box {
    width: 7.5rem;
    height: 7.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba($gray-light, .2);
    font-size: 3rem;
    font-weight: 400;
    color: $gray-light;
    background-color: #fff;
    cursor: pointer;
  }

  &__picture-number {
    width: 19rem;
    height: 19rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $blue;
    font-size: 7.2rem;
    color: #fff;
  }

  &__text {
    display: grid;
    border-bottom: 1.5rem solid $blue
  }

  &__name {
    font-size: 1.8rem;
    color: $gray-light;
  }

  &__title {
    font-size: 9.2rem;
    letter-spacing: 0.23rem;

    @include media (laptop) {
      font-size: 8rem;
    }

    @include media (tab-land) {
      font-size: 7rem;
    }
  }

  &__list {
    display: flex;
    flex: 1;
    justify-content: space-around;
    list-style: none;
    font-size: 1.8rem;
  }

  &__listItem {
    display: inline-block;
  }

  &__listItem--active {
    text-decoration: line-through;
  }

  &__rightColumn {
    grid-row: 1/2;
    grid-column: image-start/image-end;
  }

  &__img {
    display: none;
  }

  &__img--active {
    display: block;
    width: 100%;
    height: 100%;
  }
 
}