.header {
  width: 100%;
  display: grid;
  grid-template-columns: [full-start]  minmax(min-content, 59rem) [image-start]  1fr [image-end full-end];
  grid-template-areas:  "leftCol rightCol";
  border-bottom: 1px solid rgba($gray-light, .2);
  @include media(tab-land) {
    grid-template-columns: [full-start]  max-content [image-start]  1fr [image-end full-end];
  }
  
  @include media(tab-port) {
    grid-template-rows: auto auto;
    grid-template-areas:  "rightCol rightCol"
                          "leftCol leftCol";
  }

  &__leftColumn {
    grid-area: leftCol;
    display: grid;
    grid-template-columns: [empty-start] 1fr [empty-end numbers-start]  minmax(min-content, 35rem) [numbers-end];
    grid-template-rows: 1fr min-content;

    @include media(tab-land) {
      grid-template-columns: [empty-end numbers-start]  minmax(min-content, 35rem) [numbers-end];
    }

    @include media(tab-port) {
      grid-row: 1/2;
      grid-template-columns:minmax(min-content, 75%);
      grid-template-rows: 1fr;
      justify-self: center;
      align-self: center;
      justify-content: center;
      margin-bottom: 3rem;
      z-index: 5;
    }

    @include media(phone-l) {
      align-self: end;
      margin-bottom: 1.5rem;
    }
  }

  &__numbers {
    grid-column: numbers-start/numbers-end;
    padding: 2.5rem 1rem;
    border-left: 1px solid rgba($gray-light, .2);

    @include media(tab-port) {
      display: none;
    }
  }

  &__headline {
    grid-column: numbers-start/numbers-end;
    display: grid;
    grid-template-columns: auto max-content;
    grid-column-gap: 3.5rem;
    align-content: center;
    margin-left: -9.5rem;
    width: 35rem;
    z-index: 1;

    @include media(tab-land) {
      margin-left: 0;
    }
    
    @include media(tab-port) {
      display: none;
      grid-template-columns: 1/-1;
      justify-content: center;
    }
  }

  &__controls {
    display: grid;
    justify-items: center;

    @include media(tab-land) {
      margin-left: 7.5rem;
    }

    @include media(tab-port) {
      display: none;
    }
  }

  &__arrow-box {
    width: 7.5rem;
    height: 7.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba($gray-light, .2);
    font-size: 3rem;
    font-weight: 400;
    color: $gray-light;
    background-color: #fff;
    cursor: pointer;
  }
  
  &__arrow-mobile {
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    &--right {
      right: 0;
    }

    @include media(tab-port) {
      display: flex;
    }

    @include media(phone-l) {
      width: 5rem;
      height: 5rem;
      font-size: 2rem;
    }
  }
  

  &__picture-number {
    width: 19rem;
    height: 19rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $blue;
    font-size: 7.2rem;
    color: #fff;
  }

  &__text {
    display: grid;
    border-bottom: 1.5rem solid $blue;
  }

  &__name {
    font-size: 1.8rem;
    color: $gray-light;
  }

  &__title {
    font-size: 9.2rem;
    letter-spacing: 0.23rem;

    @include media (laptop) {
      font-size: 8rem;
    }

    @include media (tab-land) {
      font-size: 7rem;
    }

  }
  
  &__title--mobile {
    display: none;
    
    @include media(tab-port) {
      display: inline-block;
      font-size: 5rem;
      border-bottom: 1.5rem solid $blue;
    }

    @include media(phone-l) {
      font-size: 3rem;
      border-bottom: 1rem solid $blue;
    }
  }

  &__list {
    display: flex;
    flex: 1;
    justify-content: space-around;
    list-style: none;
    font-size: 1.8rem;
  }

  &__listItem {
    display: inline-block;
  }

  &__listItem--active {
    text-decoration: line-through;
  }

  &__rightColumn {
    grid-area: rightCol;
    grid-column: image-start/image-end;
    position: relative;
  }

  &__img {
    display: none;
    width: 100%;
    height: 100%;
  }
  
  &__img--active {
    display: block;
    width: 100%;
    height: 100%;
  }
}