.ideas {
  display: grid;
  grid-template-columns: minmax(auto, 24rem) minmax(min-content, 1fr) minmax(max-content, 1fr);
  grid-template-areas:  ". text image";
  grid-column-gap: 5rem;
  margin-top: 10rem;
  margin-bottom: 13rem;
  border-bottom: 1px solid rgba($gray-light, .2);
  
  @include media(laptop) {
    grid-template-columns: minmax(min-content, 1fr) minmax(max-content, 1fr);
    grid-template-areas: "text image";
  }
  
  @include media(tab-land) {
    grid-template-columns: minmax(min-content, 65%) minmax( 35%, 45%);
    margin: 5rem 0;
  }
  
  @include media(tab-port) {
    grid-template-columns: minmax(min-content, 1fr) ;
    grid-template-areas: "image"
                          "text";
  }

  &__textbox {
    grid-area: text;
    display: grid;
    align-content: center;
    color: $gray-light;

    @include media(laptop) {
      padding: 5rem;
    }

    @include media (tab-land) {
      padding-right: 0;
    }

    @include media(tab-port) {
      padding: 5rem;
    }
  }

  &__textbox-title {
    font-size: 7.2rem;
    line-height: 4.8rem;
    padding-bottom: 7rem;

    @include media (laptop) {
      font-size: 6rem;
    }

    @include media (tab-land) {
      font-size: 5rem;
      text-align: center;
    }

    @include media(phone-l) {
      font-size: 4rem;
    }
  }

  &__textbox-paragraph {
    font-family: $font-secondary;
    font-size: 1.4rem;
    line-height: 4.8rem;
    text-align: justify;
  }

  &__imgbox {
    grid-area: image;
    display: grid;
    align-content: center;
  }

  &__imgbox-heading {
    grid-row: 1/-1;
    grid-column: 1/-1;
    align-self: center;
    font-size: 9.2rem;
    letter-spacing: 0.23rem;
    position: relative;
    z-index: 15;

    @include media (laptop) {
      font-size: 8rem;
    }

    @include media (tab-land) {
      font-size: 7rem;
      text-align: center;
      justify-self: start;
    }

    @include media(tab-port) {
      font-size: 6rem;
      justify-self: center;
    }

    @include media(phone-l) {
      font-size: 4rem;
    }
  }
  
  &__imgbox-content {
    grid-row: 1/-1;
    grid-column: 1/-1;
    justify-self: end;
    position: relative;
  }
  
  &__rectangle {
    width: 100%;
    height: 80%;
    border: 2rem solid $blue;
    border-right: none;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;

    @include media(tab-port) {
      width: 75%;
    }

    @include media(phone-l) {
      width: 50%;
      border: 1rem solid $blue;
      border-right: none;
    }
  }

  &__img {
    display: block;
    width: 100%;

    @include media(tab-port) {
      margin-left: auto;
      width: 75%;
    }

    @include media(phone-l) {
      width: 50%
    }
  }
}