.navbar {
  height: 17rem;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  justify-items: center;
  // max-width: 191rem;
  border-bottom: 1px solid rgba($gray-light, .2);

  &__logo {
    display: inline-block;
    margin-left: 5rem;
    justify-self: start;
    width: 15rem;
    height: auto;
  }

  &__list {
    display: grid;
    justify-content: space-between;
    align-content: end;
    // justify-items: center;
    grid-auto-flow: column;
    width: 80rem;
    padding: 0 2rem;
    list-style: none;
  }
  
  &__listItem {
    // height: 4rem;
    // margin-bottom: 1rem;
    line-height: 3rem;
    display: flex;
    align-items: center;
    border-bottom: 6px solid transparent;
  }

  &__listItem:hover,
  &__listItem--active {
    border-bottom: 6px solid $blue;
  }

  &__link:link,
  &__link:visited {
    text-decoration: none;
    font-size: 1.8rem;
    outline: none;
  }

  
  &__link:active {
    color: #000;
    transform: scale(1.05)
  }


  &__search {
    display: inline-block;
    justify-self: end;
    margin-right: 5rem;
  }

  &__searchIcon {
    display: inline-block;
    width: 2.8rem;
    height: auto;
  } 
}

