.navbar {
  height: 17rem;
  display: grid;
  // grid-template-columns: auto 1fr auto;
  grid-template-columns: minmax(min-content, 59rem) minmax(min-content,1fr) auto;
  align-items: center;
  justify-items: center;
  border-bottom: 1px solid rgba($gray-light, .2);

  @include media(tab-land) {
    grid-template-columns: auto minmax(min-content,1fr) auto;
    height: 10rem;
  }

  &__logo {
    display: block;
    margin-left: 5rem;
    width: 15rem;
    height: auto;

    @include media(tab-port) {
      width: 10rem;
      margin-left: 0;
      padding: 0 1.5rem;
    }
  }

  &__list {
    display: grid;
    justify-content: space-between;
    justify-self: start;
    align-content: end;
    // justify-items: center;
    grid-auto-flow: column;
    width: 90%;
    max-width: 80rem;
    padding-right: 2rem;
    list-style: none;

    @include media(tab-land) {
    justify-self: center;
        
    }
  }
  
  &__listItem {
    // height: 4rem;
    // margin-bottom: 1rem;
    line-height: 3rem;
    display: flex;
    align-items: center;
    border-bottom: 6px solid transparent;
  }

  &__listItem:hover,
  &__listItem--active {
    border-bottom: 6px solid $blue;
  }

  &__link:link,
  &__link:visited {
    text-decoration: none;
    font-size: 1.8rem;
    outline: none;
    color: #000;
  }

  
  &__link:active {
    color: #000;
    transform: scale(1.05)
  }


  &__search {
    display: block;
    margin-right: 5rem;

    @include media(tab-port) {
      margin-right: 0;
      padding: 0 1rem;
    }
  }

  &__searchIcon {
    display: block;
    width: 2.8rem;
    height: auto;
  } 
}

