.partners {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(max-content, 10rem));
  justify-content: center;
  justify-items: center;
  align-items: center;
  padding: 10rem 0;
  grid-gap: 10rem;

  @include media(tab-port) {
    padding: 5rem 5rem;
    grid-gap: 3rem;
  }
}