.projects {
  display: grid;
  background-image:  linear-gradient(180deg, rgba(255,255,255, 1) 0%, rgba(255,255,255, .99) 15%, rgba(255,255,255, .98) 30%), url('../img/background-large.jpg');
  background-size: cover;
  background-position: center;
}

.work {
  display: grid;

  &__title {
    justify-self: center;
    grid-column: 1/-1;
    padding: 10rem;

    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 2rem;
    align-items: center;
    font-size: 1.6rem;
    color: $green;
    letter-spacing: 0.4rem;
    text-transform: uppercase;

    @include media(tab-port) {
      padding: 5rem;
     }

     @include media(phone-l) {
      padding: 3rem 0;
     }
  }

  &__title::before,
  &__title::after {
    display: block;
    content: "";
    width: 19rem;
    height: 2px;
    background-color: $green;

    @include media(tab-port) {
      width: 10rem;
    }

    @include media(phone-l) {
      display: none;
    }
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  &__box {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin: 0 3rem;
  }

  &__box-text {
    font-size: 6rem;
    grid-column: 1/-1;
    grid-row: 1/-1;
    z-index: 10;

    @include media(tab-port) {
      font-size: 4.5rem;
    }

    @include media(phone-l) {
      font-size: 3rem;
    }
  }

  &__box-number {
    grid-column: 1/-1;
    grid-row: 1/-1;
    align-self: start;
    font-size: 20rem;
    text-shadow: 0 0 5.5rem rgba(14, 17, 25, 0.15);
    color: #fff;

    @include media(tab-port) {
      font-size: 15rem;
    }

    @include media(phone-l) {
      font-size: 10rem;
    }
  }
}

.latest {
  min-height: 50rem;
  display: grid;
  grid-template-columns: [full-start] 1fr [middle-start]  5fr[middle-middle] 5fr [middle-end] 1fr [full-end];
  grid-template-rows: max-content max-content auto;
  
  grid-template-areas: 'title title title title'
                       'slider slider description .'
                       '. thumbnails thumbnails .';
  
    @include media(laptop) {
      grid-template-areas: 'title title title title'
                           'slider slider description description'
                           '. thumbnails thumbnails .';
    }

    @include media(tab-land) {
      grid-template-areas: 'title title title title'
                            '. description description .'
                            '. slider slider .'
                           '. thumbnails thumbnails .';
    }

    @include media(tab-port) {
      grid-template-areas: 'title title title title'
                            'description description description description'
                            'slider slider slider slider'
                           '. thumbnails thumbnails .';
    }

  &__project-box {
    grid-area: background;
    grid-column: middle-start/middle-end;
    grid-row: 1/-1;
    background-color: #fff;

    @include media(laptop) {
    grid-column: full-start/full-end-end;
    }
  }
  
  &__title {
    grid-area: title;
    justify-self: center;
    padding: 10rem;

    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 2rem;
    align-items: center;
    font-size: 1.6rem;
    color: $green;
    letter-spacing: 0.4rem;
    text-transform: uppercase;

    @include media(tab-port) {
      padding: 5rem;
     }
  }

  &__title::before,
  &__title::after {
    display: block;
    content: "";
    width: 19rem;
    height: 2px;
    background-color: $green;

    @include media(tab-port) {
      width: 10rem;
    }

    @include media(phone-l) {
      display: none;
    }
  }


  &__slider {
    grid-area: slider;
    display: grid;
  }

  &__images-box {
    grid-row: 1/-1;
    grid-column: 1/-1;
    width: 100%;
    height: auto;
    position: relative;
  }

  &__arrow-box {
    position: absolute;
    width: 10rem;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba($gray-light, .2);
    font-size: 3rem;
    color: #fff;
    cursor: pointer;
    right: 0;
    transform: translateX(5rem);

    @include media(tab-land) {
      transform: translateX(0);
    }

    @include media(tab-port) {
      width: 7.5rem;
      height: 7.5rem;
    }

    @include media(phone-l) {
      width: 5rem;
      height: 5rem;
      font-size: 2rem;
    }

    &--left {
      background-color: #80bfdb;
      top: calc(50% - 10rem);
      
      @include media(tab-land) {
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &--right {
      background-color: #97d1eb;
      top: 50%;
  
      @include media(tab-land) {
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    display: none;
  }

  &__img--active {
    display: block;
  }

  &__project-description {
    grid-area: description;
    display: grid;
    grid-row-gap: 2rem;
    align-content: center;
    padding-left: 10rem;

    @include media(tab-land) {
      padding-left: 0;
      grid-template-columns: 4fr 6fr;
    }

    @include media(tab-port) {
      padding: 0 3rem;
      grid-column-gap: .5rem;
    }

    @include media(phone-l) {
      grid-template-columns: auto;
    }
  }

  &__project-header {
      font-size: 4.8rem;
      line-height: 6rem;
      letter-spacing: 0.12rem;

      @include media(tab-land) {
        font-size: 4rem;
        line-height: 5rem;
      }
  }

  &__project-details {
      color:  $gray;
      font-family: Montserrat;
      font-size: 1.4rem;
      line-height: 4.8rem;

      @include media(laptop) {
        padding-right: 5rem;  
      }

      @include media(tab-land) {
        padding-right: 0;
      }
  }

  &__project-link {
    padding: 1.5rem 4rem;
    border: 1px solid $gray;
    justify-self: start;
    font-family: Montserrat;
    font-size: 1.4rem;
    line-height: 4.8rem;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    text-decoration: none;
    cursor: pointer;
    transition: all .3s;

    &:link,
    &:visited,
    {
      text-decoration: none;
      color:  $gray;
    }

    &:active,
    &:hover {
      transform: scale(1.05);
    }
    
    @include media(tab-land) {
      grid-column: 1/-1;
      justify-self: center;
      padding: 1rem 2rem;
      margin-bottom: 2rem;
    }

    @include media(tab-port) {
      font-size: 1.2rem;
    }
  }

  &__thumbnails {
    grid-area: thumbnails;
    grid-column: middle-start/middle-end;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fil, minmax(max-content, 1fr));
    justify-content: center;
    grid-gap: 3rem;
    padding: 3rem;
    background-color: #fff;
    border-bottom: 1px solid rgba($gray-light, .2);

    @include media(laptop) {
      grid-column: full-start/full-end;  
     }

     @include media(tab-port) {
       grid-auto-flow: row;
       grid-template-columns: repeat(2, 1fr);
       justify-items: center;
     }
  }

  &__thumbnail {
    display: grid;
    width: 22rem;
    height: 14rem;
    position: relative;

    @include media(tab-port) {
      width: 18rem;
      height: 11.45rem;
    }

    &-border {
      grid-row: 1/2;
      grid-column: 1/2;
      width: 100%;
      height: 100%;
      border: 1.5rem solid transparent;
    }

    &-img {
      grid-row: 1/2;
      grid-column: 1/2;
      width: 100%;
      height: 100%;
    }
  }

  &__thumbnail--active .latest__thumbnail-border {
      border: 1.5rem solid $blue;
      z-index: 5;

      @include media(tab-port) {
        border: 1rem solid $blue;
      }
  }
}
